In [2]:
from pathlib import Path
import os
import pandas as pd

print("CWD:", Path.cwd())

# If you are inside /data, go up one level
if Path.cwd().name.lower() == "data":
    os.chdir("..")

print("CWD after fix:", Path.cwd())

csv_path = Path("data") / "sample_sales.csv"
print("CSV path:", csv_path.resolve())
print("Exists?", csv_path.exists())

df = pd.read_csv(csv_path)
df.shape, df.head()

CWD: c:\Users\admin\Desktop\internship- roadmap\internship-jan\python-foundations\data
CWD after fix: c:\Users\admin\Desktop\internship- roadmap\internship-jan\python-foundations
CSV path: C:\Users\admin\Desktop\internship- roadmap\internship-jan\python-foundations\data\sample_sales.csv
Exists? True

((10, 6),
    order_id customer_id region  order_date  amount     category
 0         1        C001   West  2025-12-01    1200  Electronics
 1         2        C002  North  2025-12-02     450    Groceries
 2         3        C001   West  2025-12-05     800  Electronics
 3         4        C003  South  2025-12-06    1500      Fashion
 4         5        C004   East  2025-12-06     300    Groceries)

In [3]:
df.info()
df.describe(include="all")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     10 non-null     int64
 1   customer_id  10 non-null     object
 2   region       10 non-null     object
 3   order_date   10 non-null     object
 4   amount       10 non-null     int64
 5   category     10 non-null     object
dtypes: int64(2), object(4)
memory usage: 612.0+ bytes

        order_id customer_id region  order_date       amount     category
count   10.00000          10     10          10    10.000000           10
unique       NaN           6      4           9          NaN            3
top          NaN        C001   West  2025-12-06          NaN  Electronics
freq         NaN           3      4           2          NaN            4
mean     5.50000         NaN    NaN         NaN   880.000000          NaN
std      3.02765         NaN    NaN         NaN   500.111099          NaN
min      1.00000         NaN    NaN         NaN   200.000000          NaN
25%      3.25000         NaN    NaN         NaN   500.000000          NaN
50%      5.50000         NaN    NaN         NaN   850.000000          NaN
75%      7.75000         NaN    NaN         NaN  1175.000000          NaN
max     10.00000         NaN    NaN         NaN  1700.000000          NaN

In [4]:
df["order_date"] = pd.to_datetime(df["order_date"], errors="coerce")
df.dtypes

order_id                int64
customer_id            object
region                 object
order_date     datetime64[ns]
amount                  int64
category               object
dtype: object



# Pandas Overview â€” Load & First Profiling

Date: Jan 12, 2026

Goal: Load dataset, inspect structure, run basic profiling, standardize column names.